---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Breadcrumb -->
  <div class="pq-breadcrumb">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <nav aria-label="breadcrumb">
            <div class="pq-breadcrumb-title">
              <h1>Calacatta Series</h1>
            </div>
            <div class="pq-breadcrumb-container">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/"><i class="fas fa-home me-2"></i>Home</a>
                </li>
                <li class="breadcrumb-item active">Calacatta Series</li>
              </ol>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb -->

  <!-- About Us -->
  <section class="about-us pq-pb-180">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="about-us-img">
            <img
              src="images/about-us/1.png"
              class="pq-image1 wow animated fadeInLeft"
              alt=""
            />
            <img
              src="images/about-us/2.png"
              class="pq-image2 wow animated zoomIn"
              alt=""
            />
          </div>
        </div>
        <div class="col-xl-6 pq-about-us-padding wow animated fadeInRight">
          <div class="pq-section-title pq-style-1 pq-mb-35">
            <span class="pq-section-sub-title">calacatta series</span>
            <h5 class="pq-section-main-title" style="color: black;">
              1650 X 3250 MM | 1500 X 3100 MM
            </h5>
            <p class="pq-section-description">
              The Calacatta Series by FionExim brings together timeless beauty
              and exceptional craftsmanship. Inspired by natural Italian marble,
              each quartz slab in this collection features bold, elegant veining
              and a smooth, luminous surface that enhances any space. Perfect
              for countertops, walls, and flooring, our Calacatta quartz offers
              the luxurious look of marble with the strength, durability, and
              low maintenance of engineered stone — making it the ideal choice
              for both modern and classic interiors.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Us -->

  <!-- Portfolio -->
  <section class="portfolio">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-8 wow animated fadeInRight">
          <div class="pq-section-title pq-style-1">
            <span class="pq-section-sub-title">Luxury in Every Vein</span>
            <h5 class="pq-section-main-title" style="color: black;">
              Each piece in the Calacatta Series showcases rich marble-like
              patterns and refined elegance, bringing timeless sophistication to
              any surface.
            </h5>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="divider pq-right-border pq-45"></div>
        </div>
        <div class="col-lg-12 wow animated fadeInUp">
          <div class="pq-portfoliobox-2">
            <div class="pq-protfolio-tabs">
              <div class="protfolio-tabs-item">
                <a href="#" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 01 </span>
                  <h5 class="portfolio-title">Alaska White</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/1.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 02 </span>
                  <h5 class="portfolio-title">Calacatta Alexa</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/2.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a
                  href="portfolio-single.html"
                  class="protfolio-tabs-link active"
                >
                  <span class="portfolio-number"> 03 </span>
                  <h5 class="portfolio-title">Calacatta Athena</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/3.jpg"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 04 </span>
                  <h5 class="portfolio-title">Calacatta Cascade</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/4.jpg"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 05 </span>
                  <h5 class="portfolio-title">Calacatta Fantasy</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/5.jpg"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 06 </span>
                  <h5 class="portfolio-title">Calacatta Gold Ice</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/6.jpg"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 07 </span>
                  <h5 class="portfolio-title">Calacatta Gold Spot</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/7.jpg"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 08 </span>
                  <h5 class="portfolio-title">Calacatta NSL Black</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/7.jpg"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 09 </span>
                  <h5 class="portfolio-title">Calacatta Scott Gold</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/7.jpg"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 10</span>
                  <h5 class="portfolio-title">Calacatta Scott</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/7.jpg"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 11 </span>
                  <h5 class="portfolio-title">Calacatta Silver Spot</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/7.jpg"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 12 </span>
                  <h5 class="portfolio-title">Calacatta SNP</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/7.jpg"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 13 </span>
                  <h5 class="portfolio-title">Calacatta Spider</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/7.jpg"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 14 </span>
                  <h5 class="portfolio-title">Calacatta Artmis</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/7.jpg"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 15 </span>
                  <h5 class="portfolio-title">Imperial Black</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/7.jpg"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio -->
</Layout>
