---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Breadcrumb -->
  <div class="pq-breadcrumb">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <nav aria-label="breadcrumb">
            <div class="pq-breadcrumb-title">
              <h1>Our Collection</h1>
            </div>
            <div class="pq-breadcrumb-container">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html"><i class="fas fa-home me-2"></i>Home</a>
                </li>
                <li class="breadcrumb-item active">Our Collection</li>
              </ol>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb -->

  <!-- Collections -->
  <section class="services">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-8">
          <div class="pq-section-title pq-style-1">
            <span class="pq-section-sub-title"
              >Explore Our Quartz Collections</span
            >
            <h5 class="pq-section-main-title" style="color: black;">
              Browse Calacatta, Carrara, Plain, Gravel, Multi-Colour &
              more—crafted for beauty and everyday performance.
            </h5>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="divider pq-right-border pq-45"></div>
        </div>
        <div class="col-lg-4 col-md-6 wow animated fadeInUp">
          <div class="pq-service-box pq-style-3 text-center">
            <div class="pq-service-media">
              <div class="pq-service-img">
                <img
                  decoding="async"
                  src="images/service/1.png"
                  alt="servicebox"
                />
              </div>
            </div>
            <div class="pq-service-info">
              <h5 class="pq-service-title">
                <a href="#">calacatta series</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0 wow animated fadeInUp">
          <div class="pq-service-box pq-style-3 text-center">
            <div class="pq-service-media">
              <div class="pq-service-img">
                <img
                  decoding="async"
                  src="images/service/2.png"
                  alt="servicebox"
                />
              </div>
            </div>
            <div class="pq-service-info">
              <h4 class="pq-service-title">
                <a href="#">Satuario Series</a>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0 wow animated fadeInUp">
          <div class="pq-service-box pq-style-3 text-center">
            <div class="pq-service-media">
              <div class="pq-service-img">
                <img
                  decoding="async"
                  src="images/service/3.png"
                  alt="servicebox"
                />
              </div>
            </div>
            <div class="pq-service-info">
              <h5 class="pq-service-title">
                <a href="#">multicolor series</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="services">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-6 wow animated fadeInUp">
          <div class="pq-service-box pq-style-3 text-center">
            <div class="pq-service-media">
              <div class="pq-service-img">
                <img
                  decoding="async"
                  src="images/service/4.png"
                  alt="servicebox"
                />
              </div>
            </div>
            <div class="pq-service-info">
              <h5 class="pq-service-title">
                <a href="#">plain series</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0 wow animated fadeInUp">
          <div class="pq-service-box pq-style-3 text-center">
            <div class="pq-service-media">
              <div class="pq-service-img">
                <img
                  decoding="async"
                  src="images/service/5.png"
                  alt="servicebox"
                />
              </div>
            </div>
            <div class="pq-service-info">
              <h4 class="pq-service-title">
                <a href="#">gravel Series</a>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0 wow animated fadeInUp">
          <div class="pq-service-box pq-style-3 text-center">
            <div class="pq-service-media">
              <div class="pq-service-img">
                <img
                  decoding="async"
                  src="images/service/6.png"
                  alt="servicebox"
                />
              </div>
            </div>
            <div class="pq-service-info">
              <h5 class="pq-service-title">
                <a href="#">carrara series</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services -->
</Layout>
