---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Breadcrumb -->
  <div class="pq-breadcrumb">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <nav aria-label="breadcrumb">
            <div class="pq-breadcrumb-title">
              <h1>Contact Us</h1>
            </div>
            <div class="pq-breadcrumb-container">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html"><i class="fas fa-home me-2"></i>Home</a>
                </li>
                <li class="breadcrumb-item active">Contact Us</li>
              </ol>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb -->

  <!-- Contact Us -->
  <section class="contact-us pb-xl-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="pq-section-title pq-style-1 pq-mb-30">
            <span class="pq-section-sub-title">our contact</span>
            <h5 class="pq-section-main-title">Get in touch with us</h5>
            <p class="pq-section-description">
              At FionExim, we value clear communication and lasting
              partnerships. Whether you are an architect, distributor, or
              business seeking premium quartz solutions, our team is here to
              assist you with product details, pricing, and logistics.
            </p>
          </div>
          <div class="pq-icon-box pq-style-3">
            <div class="pq-icon">
              <i class="ion ion-ios-home"></i>
            </div>
            <div class="pq-icon-box-content">
              <h6>Visit A Office</h6>
              <p class="mb-0">
                304- Anand Plaza, <br /> Anand Bunglow Chowk, <br />
                Mavdi Main Road, Rajkot - 360004
              </p>
            </div>
          </div>
          <div class="divider pq-my-15"></div>
          <div class="pq-icon-box pq-style-3">
            <div class="pq-icon">
              <i class="ion ion-ios-telephone"></i>
            </div>
            <div class="pq-icon-box-content">
              <h6>Contact-Us</h6>
              <p class="mb-0">+91 98797 91993</p>
            </div>
          </div>
          <div class="divider pq-my-15"></div>
          <div class="pq-icon-box pq-style-3">
            <div class="pq-icon">
              <i class="ion ion-ios-email"></i>
            </div>
            <div class="pq-icon-box-content">
              <h6>Email-Us</h6>
              <p class="mb-0">info@fionexim.com</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-4 mt-lg-0 p-xl-0">
          <div class="pq-map pq-me-330">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d712.6910750925038!2d70.79338895599116!3d22.27260399061787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959ca69457bb0c3%3A0x21b90b0679e72a40!2sAnand%20Plaza%2C%20Beside%20Ritav%20Tea%2C%20Anand%20Bunglow%20Chowk%2C%20Jayant%20Society%2C%20Sardar%20Nagar%2C%20Rajkot%2C%20Gujarat%20360004!5e1!3m2!1sen!2sin!4v1759132232731!5m2!1sen!2sin"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Us -->

  <!-- Contact Us Form -->
  <section class="contact-form pt-0 pb-xl-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 p-xl-0">
          <div class="pq-contact-img">
            <img src="images/portfolio/1.jpg" alt="" />
          </div>
        </div>
        <div class="col-lg-6 mt-4 mt-lg-0 ps-xl-5">
          <div class="pq-section-title pq-style-1 pq-mb-30">
            <h5 class="pq-section-main-title">How Can We Help You ?</h5>
            <p class="pq-section-description">
              Please feel free to get in touch using the form below. We’d love
              to hear for you.
            </p>
          </div>
          <form action="#" class="pq-contact-form">
            <div class="row">
              <div class="col-md-6">
                <input type="text" name="your-name" placeholder="Your Name" />
              </div>
              <div class="col-md-6">
                <input type="email" name="your-gender" placeholder="Email" />
              </div>
              <div class="col-md-6">
                <input
                  type="text"
                  name="phone-number"
                  placeholder="Phone Number"
                />
              </div>
              <div class="col-md-6">
                <input
                  type="text"
                  name="project-scope"
                  placeholder="Project Scope"
                />
              </div>
              <div class="col-md-12">
                <textarea
                  name="your-message"
                  cols="40"
                  rows="10"
                  placeholder="Write Your Message"></textarea>
              </div>
              <div class="col-md-12">
                <a class="pq-button" href="#">
                  <div class="pq-button-block">
                    <span class="pq-button-text me-0">SEND NOW</span>
                  </div>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Us Form -->
</Layout>
