---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Breadcrumb -->
  <div class="pq-breadcrumb">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <nav aria-label="breadcrumb">
            <div class="pq-breadcrumb-title">
              <h1>Multicolor Series</h1>
            </div>
            <div class="pq-breadcrumb-container">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/"><i class="fas fa-home me-2"></i>Home</a>
                </li>
                <li class="breadcrumb-item active">Multicolor Series</li>
              </ol>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb -->

  <!-- About Us -->
  <section class="about-us pq-pb-180">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="about-us-img">
            <img
              src="images/about-us/11.png"
              class="pq-image1 wow animated fadeInLeft"
              alt=""
            />
            <img
              src="images/about-us/12.png"
              class="pq-image2 wow animated zoomIn"
              alt=""
            />
          </div>
        </div>
        <div class="col-xl-6 pq-about-us-padding wow animated fadeInRight">
          <div class="pq-section-title pq-style-1 pq-mb-35">
            <span class="pq-section-sub-title">multicolor series</span>
            <h5 class="pq-section-main-title" style="color: black;">
              1650 X 3250 MM | 1500 X 3100 MM
            </h5>
            <p class="pq-section-description">
              The Multicolor Series by FionExim celebrates creativity and
              diversity through a stunning palette of hues and textures. Each
              quartz surface in this collection brings a distinctive blend of
              colors, patterns, and finishes that elevate any interior or
              architectural design. Perfect for bold kitchens, artistic spaces,
              and modern commercial projects, our Multicolor quartz offers
              unmatched durability with a vibrant touch of individuality.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Us -->

  <!-- Portfolio -->
  <section class="portfolio">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-8 wow animated fadeInRight">
          <div class="pq-section-title pq-style-1">
            <span class="pq-section-sub-title">Colors that Inspire</span>
            <h5 class="pq-section-main-title" style="color: black;">
              A lively fusion of tones and textures, the Multicolor Series
              transforms everyday spaces into expressions of art and elegance.
            </h5>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="divider pq-right-border pq-45"></div>
        </div>
        <div class="col-lg-12 wow animated fadeInUp">
          <div class="pq-portfoliobox-2">
            <div class="pq-protfolio-tabs">
              <div class="protfolio-tabs-item">
                <a href="#" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 01 </span>
                  <h5 class="portfolio-title">Albeta Brown</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/1.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 02 </span>
                  <h5 class="portfolio-title">Astoria Beige</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/2.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a
                  href="portfolio-single.html"
                  class="protfolio-tabs-link active"
                >
                  <span class="portfolio-number"> 03 </span>
                  <h5 class="portfolio-title">Barsha Pearl</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/3.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 04 </span>
                  <h5 class="portfolio-title">Bellingham</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/4.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 05 </span>
                  <h5 class="portfolio-title">Black Pearl</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/5.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 06 </span>
                  <h5 class="portfolio-title">Cemento</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/6.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 07 </span>
                  <h5 class="portfolio-title">Centar Burry</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/7.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 08 </span>
                  <h5 class="portfolio-title">Desart Sand</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/8.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 09 </span>
                  <h5 class="portfolio-title">Diana Rose</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/9.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 10</span>
                  <h5 class="portfolio-title">Emerald Green</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/10.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 11 </span>
                  <h5 class="portfolio-title">Eve Rippan</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/11.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 12 </span>
                  <h5 class="portfolio-title">Fibus Black</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/12.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 13 </span>
                  <h5 class="portfolio-title">Gris Grigio</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/13.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 14 </span>
                  <h5 class="portfolio-title">Jeliska White</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/14.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 15 </span>
                  <h5 class="portfolio-title">Marfil Grey</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/15.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 16 </span>
                  <h5 class="portfolio-title">Milano Grey</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/16.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 17 </span>
                  <h5 class="portfolio-title">Ocean Beige</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/17.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 18 </span>
                  <h5 class="portfolio-title">Ocean Green</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/18.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 19 </span>
                  <h5 class="portfolio-title">Ocean Grey</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/19.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 20 </span>
                  <h5 class="portfolio-title">Oxford</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/20.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 21 </span>
                  <h5 class="portfolio-title">Rain Forest</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/21.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 22 </span>
                  <h5 class="portfolio-title">Sea Bellingham</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/22.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 23 </span>
                  <h5 class="portfolio-title">Starry Light</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/23.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 24 </span>
                  <h5 class="portfolio-title">Velencia Beige</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/24.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 25 </span>
                  <h5 class="portfolio-title">Venila Black</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/25.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 26 </span>
                  <h5 class="portfolio-title">Viscon Brown</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/26.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 27 </span>
                  <h5 class="portfolio-title">Viscon Green</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/27.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 28 </span>
                  <h5 class="portfolio-title">Viscon White</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/28.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 29 </span>
                  <h5 class="portfolio-title">Willium Grey</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/multi-color/29.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio -->
</Layout>
