---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Breadcrumb -->
  <div class="pq-breadcrumb">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <nav aria-label="breadcrumb">
            <div class="pq-breadcrumb-title">
              <h1>Satuario Series</h1>
            </div>
            <div class="pq-breadcrumb-container">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/"><i class="fas fa-home me-2"></i>Home</a>
                </li>
                <li class="breadcrumb-item active">Satuario Series</li>
              </ol>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb -->

  <!-- About Us -->
  <section class="about-us pq-pb-180">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="about-us-img">
            <img
              src="images/about-us/9.png"
              class="pq-image1 wow animated fadeInLeft"
              alt=""
            />
            <img
              src="images/about-us/10.png"
              class="pq-image2 wow animated zoomIn"
              alt=""
            />
          </div>
        </div>
        <div class="col-xl-6 pq-about-us-padding wow animated fadeInRight">
          <div class="pq-section-title pq-style-1 pq-mb-35">
            <span class="pq-section-sub-title">Satuario series</span>
            <h5 class="pq-section-main-title" style="color: black;">
              1650 X 3250 MM | 1500 X 3100 MM
            </h5>
            <p class="pq-section-description">
              The Statuario Series by FionExim embodies sophistication and
              purity, inspired by the classic charm of Italian Statuario marble.
              Each quartz surface features subtle grey veining on a pristine
              white base, creating an elegant and timeless aesthetic. Designed
              for luxury interiors, our Statuario quartz offers the perfect
              blend of natural beauty, durability, and easy maintenance — ideal
              for kitchens, bathrooms, and statement spaces that demand both
              style and strength.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Us -->

  <!-- Portfolio -->
  <section class="portfolio">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-8 wow animated fadeInRight">
          <div class="pq-section-title pq-style-1">
            <span class="pq-section-sub-title">Elegance in Every Detail</span>
            <h5 class="pq-section-main-title" style="color: black;">
              Each Statuario quartz surface captures the beauty of soft grey
              veining on a pure white base, bringing timeless luxury to modern
              interiors.
            </h5>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="divider pq-right-border pq-45"></div>
        </div>
        <div class="col-lg-12 wow animated fadeInUp">
          <div class="pq-portfoliobox-2">
            <div class="pq-protfolio-tabs">
              <div class="protfolio-tabs-item">
                <a href="#" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 01 </span>
                  <h5 class="portfolio-title">Calacatta Costta</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/23.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 02 </span>
                  <h5 class="portfolio-title">Natural Satuario Golden</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/24.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a
                  href="portfolio-single.html"
                  class="protfolio-tabs-link active"
                >
                  <span class="portfolio-number"> 03 </span>
                  <h5 class="portfolio-title">Natural Satuario</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/25.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 04 </span>
                  <h5 class="portfolio-title">Simaran White</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/26.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
              <div class="protfolio-tabs-item">
                <a href="portfolio-single.html" class="protfolio-tabs-link">
                  <span class="portfolio-number"> 05 </span>
                  <h5 class="portfolio-title">Volcano Black</h5>
                </a>
                <img
                  decoding="async"
                  src="images/portfolio/27.png"
                  alt="protfolio-tabs-img"
                  class="protfolio-tabs-img"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio -->
</Layout>
