<section class="about-us pq-about-section-padding">
  <div class="container">
    <div class="floating-image floating-image-right floating-image-5">
      <img src="images/floating-images/2.png" alt="" />
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div class="about-us-img">
          <img
            src="images/about-us/8.png"
            class="pq-image3 wow animated fadeInLeft"
            alt=""
          />
          <img
            src="images/about-us/4.jpg"
            class="pq-image4 wow animated zoomIn"
            alt=""
          />
        </div>
      </div>
      <div class="col-xl-6 mt-4 mt-xl-0 ps-xl-5 wow animated fadeInRight">
        <div class="pq-section-title pq-style-1">
          <span class="pq-section-sub-title">about us</span>
          <h5 class="pq-section-main-title" style="color: black;">
            Shaping Global Spaces with Premium Quartz
          </h5>
          <p class="pq-section-description">
            At FionExim, we specialize in delivering world-class quartz products
            that combine durability with elegance. From countertops and slabs to
            customized solutions, our quartz is crafted to meet the demands of
            modern homes, businesses, and large-scale projects worldwide.
          </p>

          <p class="pq-section-description">
            We don’t just supply stone — we provide reliability, design
            flexibility, and lasting value. With strict quality checks,
            transparent processes, and global logistics, FionExim ensures that
            your vision turns into reality, seamlessly.
          </p>
        </div>
        <ul class="pq-list-check-2">
          <li>
            <i class="ion ion-android-arrow-forward"></i>
            <span>Explore our premium quartz collection</span>
          </li>
          <li>
            <i class="ion ion-android-arrow-forward"></i>
            <span>Choose designs tailored to your space</span>
          </li>
          <li>
            <i class="ion ion-android-arrow-forward"></i>
            <span>Global shipping with trusted logistics</span>
          </li>
          <li>
            <i class="ion ion-android-arrow-forward"></i>
            <span>Dedicated support from inquiry to installation</span>
          </li>
        </ul>
        <a class="pq-button pq-button-flat" href="about-us.html">
          <div class="pq-button-block">
            <span class="pq-button-text">about us</span>
            <span class="pq-button-line-right"></span>
            <i class="ion ion-ios-arrow-right"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
