<section class="skill pq-bg-img-1">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xl-6 col-lg-12 wow animated fadeInLeft">
        <div class="pq-sticky-top">
          <div class="pq-section-title pq-style-1 pq-mb-30">
            <span class="pq-section-sub-title">advantages of quartz</span>
            <h5 class="pq-section-main-title" style="color: black;">
              The Strength and Beauty of Quartz with FionExim
            </h5>
            <p class="pq-section-description">
              At FionExim, we believe quartz is more than a stone — it’s a
              perfect balance of strength, design, and sustainability. Our
              products are engineered to deliver durability, elegance, and low
              maintenance, making them the ideal choice for homes, offices, and
              commercial spaces worldwide.
            </p>
          </div>
          <a class="pq-button pq-button-flat" href="services-1.html">
            <div class="pq-button-block">
              <span class="pq-button-text">our collection </span>
              <span class="pq-button-line-right"></span>
              <i class="ion ion-ios-arrow-right"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12 wow animated fadeInRight">
        <div class="pq-counter pq-counter-style-2">
          <div class="pq-counter-info">
            <div class="pq-counter-num-prefix">
              <h5 class="timer" data-to="95" data-speed="5000"></h5>
              <span class="pq-counter-prefix">%</span>
            </div>
            <h6 class="pq-counter-title">Customer Satisfaction</h6>
            <p class="pq-counter-description">
              Our quartz surfaces consistently win the trust of global clients
              thanks to their quality
            </p>
            <div class="pq-counter-media">
              <i class="flaticon-blueprint"></i>
            </div>
          </div>
        </div>
        <div class="pq-counter pq-counter-style-2">
          <div class="pq-counter-info">
            <div class="pq-counter-num-prefix">
              <h5 class="timer" data-to="500" data-speed="5000"></h5>
              <span class="pq-counter-prefix">+</span>
            </div>
            <h6 class="pq-counter-title">Shipments Delivered Worldwide</h6>
            <p class="pq-counter-description">
              From luxury residences to large-scale developments, FionExim
              quartz is enhancing
            </p>
            <div class="pq-counter-media">
              <i class="flaticon-chisel"></i>
            </div>
          </div>
        </div>
        <div class="pq-counter pq-counter-style-2">
          <div class="pq-counter-info">
            <div class="pq-counter-num-prefix">
              <h5 class="timer" data-to="100" data-speed="5000"></h5>
              <span class="pq-counter-prefix">+</span>
            </div>
            <h6 class="pq-counter-title">Unique Designs & Colors</h6>
            <p class="pq-counter-description">
              Choose from a wide variety of shades, textures, and finishes to
              match every project vision.
            </p>
            <div class="pq-counter-media">
              <i class="flaticon-tile-1"></i>
            </div>
          </div>
        </div>
        <div class="pq-counter pq-counter-style-2 border-0 mb-0 pb-0">
          <div class="pq-counter-info">
            <div class="pq-counter-num-prefix">
              <h5 class="timer" data-to="10" data-speed="5000"></h5>
              <span class="pq-counter-prefix">+</span>
            </div>
            <h6 class="pq-counter-title">Year Of Experience</h6>
            <p class="pq-counter-description">
              Backed by deep knowledge of the stone industry, we ensure every
              product meets international standards.
            </p>
            <div class="pq-counter-media">
              <i class="flaticon-trowel"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
