<section class="services pq-bg-dark pq-bg-img-2">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 col-md-8">
        <div class="pq-section-title pq-style-1">
          <span class="pq-section-sub-title"
            >Explore Our Quartz Collections</span
          >
          <h5 class="pq-section-main-title">
            Browse Calacatta, Carrara, Plain, Gravel, Multi-Colour &
            more—crafted for beauty and everyday performance.
          </h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="button-align">
          <a class="pq-button pq-button-flat" href="services-1.html">
            <div class="pq-button-block">
              <span class="pq-button-text">our collections </span>
              <span class="pq-button-line-right"></span>
              <i class="ion ion-ios-arrow-right"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="divider pq-right-border pq-45"></div>
      </div>
      <div class="col-lg-4 col-md-6 wow animated fadeInUp">
        <div class="pq-service-box pq-style-3 text-center">
          <div class="pq-service-media">
            <div class="pq-service-img">
              <img
                decoding="async"
                src="images/service/1.png"
                alt="servicebox"
              />
            </div>
          </div>
          <div class="pq-service-info">
            <h5 class="pq-service-title">
              <a href="#">calacatta series</a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mt-md-0 wow animated fadeInUp">
        <div class="pq-service-box pq-style-3 text-center">
          <div class="pq-service-media">
            <div class="pq-service-img">
              <img
                decoding="async"
                src="images/service/2.png"
                alt="servicebox"
              />
            </div>
          </div>
          <div class="pq-service-info">
            <h4 class="pq-service-title">
              <a href="#">Satuario Series</a>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0 wow animated fadeInUp">
        <div class="pq-service-box pq-style-3 text-center">
          <div class="pq-service-media">
            <div class="pq-service-img">
              <img
                decoding="async"
                src="images/service/3.png"
                alt="servicebox"
              />
            </div>
          </div>
          <div class="pq-service-info">
            <h5 class="pq-service-title">
              <a href="#">multicolor series</a>
            </h5>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="divider pq-right-border pq-45"></div>
      </div>
      <div class="col-lg-4 col-md-6 wow animated fadeInUp">
        <div class="pq-service-box pq-style-3 text-center">
          <div class="pq-service-media">
            <div class="pq-service-img">
              <img
                decoding="async"
                src="images/service/4.png"
                alt="servicebox"
              />
            </div>
          </div>
          <div class="pq-service-info">
            <h5 class="pq-service-title">
              <a href="#">plain series</a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mt-md-0 wow animated fadeInUp">
        <div class="pq-service-box pq-style-3 text-center">
          <div class="pq-service-media">
            <div class="pq-service-img">
              <img
                decoding="async"
                src="images/service/5.png"
                alt="servicebox"
              />
            </div>
          </div>
          <div class="pq-service-info">
            <h4 class="pq-service-title">
              <a href="#">gravel Series</a>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0 wow animated fadeInUp">
        <div class="pq-service-box pq-style-3 text-center">
          <div class="pq-service-media">
            <div class="pq-service-img">
              <img
                decoding="async"
                src="images/service/6.png"
                alt="servicebox"
              />
            </div>
          </div>
          <div class="pq-service-info">
            <h5 class="pq-service-title">
              <a href="#">carrara series</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
