<section class="testimonial p-xl-0 pq-bg-dark pq-bg-img-2">
  <div class="container">
    <div class="row align-items-center flex-column-reverse flex-xl-row">
      <div class="col-xl-6 mt-4 mt-xl-0 pe-xl-5">
        <div class="pq-testimonial-box-slider pq-style-4 pq-me-30">
          <div
            class="owl-carousel owl-loaded owl-drag"
            data-dots="true"
            data-nav="false"
            data-desk_num="1"
            data-lap_num="1"
            data-tab_num="1"
            data-mob_num="1"
            data-mob_sm="1"
            data-autoplay="true"
            data-loop="true"
            data-margin=""
          >
            <div class="item">
              <div class="pq-testimonial-box pq-style-4 text-left">
                <div class="pq-testimonial-mediacontent">
                  <div class="pq-testimonial-media">
                    <div class="pq-testimonial-img">
                      <img
                        decoding="async"
                        src="images/testimonial/1.jpg"
                        alt="Testimonial-image"
                      />
                    </div>
                    <div class="pq-testimonial-meta">
                      <h5 class="pq-testmonial-title">Michael R</h5>
                      <span>Importer</span>
                    </div>
                  </div>
                  <div class="pq-testimonial-social">
                    <div class="pq-testimonial-socialicon">
                      <ul>
                        <li>
                          <a>
                            <i class="fab fa-google"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="pq-testimonial-socialcontent">
                      <h5 class="pq-testimonial-socialtitle">
                        Importer from USA
                      </h5>
                      <div class="pq-testimonial-star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pq-testimonial-content">
                  <p class="pq-testimonial-description">
                    FionExim has been our most reliable quartz supplier. The
                    slabs arrived exactly as promised — flawless finish,
                    consistent quality, and on time. Their team is professional
                    and easy to work with, which makes international trade
                    hassle-free.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="pq-testimonial-box pq-style-4 text-left">
                <div class="pq-testimonial-mediacontent">
                  <div class="pq-testimonial-media">
                    <div class="pq-testimonial-img">
                      <img
                        decoding="async"
                        src="images/testimonial/2.jpg"
                        alt="Testimonial-image"
                      />
                    </div>
                    <div class="pq-testimonial-meta">
                      <h5 class="pq-testmonial-title">Sofia L.</h5>
                      <span>Architect</span>
                    </div>
                  </div>
                  <div class="pq-testimonial-social">
                    <div class="pq-testimonial-socialicon">
                      <ul>
                        <li>
                          <a>
                            <i class="fab fa-google"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="pq-testimonial-socialcontent">
                      <h5 class="pq-testimonial-socialtitle">
                        Architect from Europe
                      </h5>
                      <div class="pq-testimonial-star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pq-testimonial-content">
                  <p class="pq-testimonial-description">
                    We used FionExim quartz in a high-end residential project,
                    and the results were outstanding. The colors, durability,
                    and finish elevated the design. Our clients were impressed,
                    and we’ll definitely continue sourcing from them.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="pq-testimonial-box pq-style-4 text-left">
                <div class="pq-testimonial-mediacontent">
                  <div class="pq-testimonial-media">
                    <div class="pq-testimonial-img">
                      <img
                        decoding="async"
                        src="images/testimonial/6.jpg"
                        alt="Testimonial-image"
                      />
                    </div>
                    <div class="pq-testimonial-meta">
                      <h5 class="pq-testmonial-title">Ahmed K.</h5>
                      <span>Distributor</span>
                    </div>
                  </div>
                  <div class="pq-testimonial-social">
                    <div class="pq-testimonial-socialicon">
                      <ul>
                        <li>
                          <a>
                            <i class="fab fa-google"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="pq-testimonial-socialcontent">
                      <h5 class="pq-testimonial-socialtitle">
                        Distributor from Middle East
                      </h5>
                      <div class="pq-testimonial-star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pq-testimonial-content">
                  <p class="pq-testimonial-description">
                    Working with FionExim has been a seamless experience. From
                    quick communication to safe packaging and timely delivery,
                    they exceeded expectations. Their quartz products are in
                    high demand with our customers.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 wow animated fadeInRight">
        <div class="pq-testimonial-overflow-img">
          <img src="images/testimonial/2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
